<form action="#">
     Do Upper Case: <br>
     <input type="text" name="ipstring" id="ipstring" [(ngModel)]="lower_userinput" placeholder="Enter a string"> <br>
     <input type="button" value="submit" (click)="onSubmit('lower')"> 
     <span style="margin-left: 2rem;"></span>
     <input type="button" value="clear" (click)="onClear('lower')">  
     <p style="font-size:1rem;font-weight: 300;">Output: {{lower_result}}</p>  
     
     Do lower Case: <br>
     <input type="text" name="ipstring" id="ipstring" [(ngModel)]="upper_userinput" placeholder="Enter a string"> <br>
     <input type="button" value="submit" (click)="onSubmit('upper')"> 
     <span style="margin-left: 2rem;"></span>
     <input type="button" value="clear" (click)="onClear('upper')">  
     <p style="font-size:1rem;font-weight: 300;">Output: {{upper_result}}</p>  
</form>