<form action="#">
     <H2>String Toggle With Get</H2>
     <input style="padding-left: 10px;" type="text" name="ipstring" id="ipstring" [(ngModel)]="input_string" placeholder="Enter a string"> <br>
     <input type="button" value="Do Lower Case Get" (click)="onSubmit('lower')"> 
     <span style="margin-left: 1rem;"></span>
     <input type="button" value="Do Upper Case Get" (click)="onSubmit('upper')"> 
     <span style="margin-left: 1rem;"></span>
     <input type="button" value="clear" (click)="onClear('lower')">
     <p style="font-size:1rem;font-weight: 300;">Output: {{result}}</p>  
</form>